.navgation > li > a:hover,
.navbar > li > a:hover,
.menu-horizontal li > a:hover {
	background-color: transparent;
	color: rgba(255, 255, 255, 0.753);
}
.menu-horizontal li > a.active {
	background: transparent;
	font-weight: bolder;
}
.menu .menu-compact li > a.active {
	background: #3d46c9 !important;
}
